{% extends "base.html" %}

{% block content %}

<h1>{{track.title}}</h1>

<p>
Artist : {{track.artist}}
</p>

<p>
BPM : {{track.bpm}}
</p>

<p>
Key : {{track.key}}
</p>

<p>
Energy : {{track.energy}}
</p>

<a href="/tracks/{{track.id}}/edit">
Edit
</a>

<br>
<a href="/tracks/{{track.id}}/recommend">
Recommend Next Track
</a>

<form method="POST" action="/tracks/{{track.id}}/delete">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

<button type="submit">
Delete
</button>

</form>

{% endblock %}
