{% extends "base.html" %}

{% block content %}

<h1>Edit Track</h1>

<form method="POST" action="/tracks/{{track.id}}/update">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

<p>
Title
<br>
<input name="title" value="{{track.title}}" required>
</p>

<p>
Artist
<br>
<input name="artist" value="{{track.artist}}" required>
</p>

<p>
BPM
<br>
<input name="bpm" type="number" min="40" max="250" value="{{track.bpm}}" required>
</p>

<p>
Key
<br>
<input name="key" value="{{track.key}}" pattern="^(1[0-2]|[1-9])[AaBb]$" required>
</p>

<p>
Energy
<br>
<input name="energy" type="number" min="1" max="10" value="{{track.energy}}" required>
</p>

<button type="submit">
Update
</button>

</form>

{% endblock %}
